@{
    ViewBag.Title = "Đổi mật khẩu";
}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">

    <!-- ============================ COMPONENT LOGIN   ================================= -->
    <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
        <div class="card-body">
            <h4 class="card-title mb-4">Change Password</h4>
            <form action="~/Account/Save" method="post">

                <div class="form-group">
                    <label for="oldPassword">Old Password:</label>
                    <input type="password" class="form-control" id="oldPassword" name="oldPassword" required autofocus>
                    @Html.ValidationMessage("OldPassword", new { @style = "color:#f00" })
                </div>

                <div class="form-group">
                    <label for="newPassword">New Password:</label>
                    <input type="password" class="form-control" id="newPassword" name="newPassword" required>
                    @Html.ValidationMessage("NewPassword", new { @style = "color:#f00" })
                </div>

                <div class="form-group">
                    <label for="confirmPassword">Confirm Password:</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
                    @Html.ValidationMessage("ConfirmPassword", new { @style = "color:#f00" })
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Change Password</button>
                    <a href="~/" class="btn btn-default">Next</a>
                </div>

            </form>
        </div> <!-- card-body.// -->
    </div> <!-- card .// -->

    <p class="text-center mt-4">
        Don't have an account? <a href="~/Account/Register">Sign up</a>
    </p>

</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
